.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 400px;
  // .hero__container
  &__container {
  }
  // .hero__title
  &__title {
    font-weight: 300;
    font-size: 56px;
    line-height: 150%;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 35px;
    }
    @media (max-width: 576px) {
      font-size: 30px;
    }
  }
  // .hero__arrow
  &__arrow {
    width: 40px;
    height: 40px;
    background: url('../img/arrow-hero.svg') center center no-repeat;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 42px;
  }
}
